<div class="box box-last"><h2 class="blue">Watch the Video</h2><p><a href="http://www.youtube.com/watch?v=fqFiYKoUHQk" class="fancy-video-640x385" onclick="javascript: return false;"><img height="117" alt="Digital Asset" width="208" src="/~/media/Aveva/English/Images/Corporate Logos/Digital-Asset/video-Digital-Asset.png?la=en"></a></p></div>
