<div class="box">
    <h2 class="blue">AVEVA Spotlight</h2><h2>The Future of Decision Support is here!</h2>
    <img alt="AVEVA Engage" src="/~/media/Aveva/English/Products/Images/Engage/AVEVA-Engage_300x200px.png?h=89&amp;w=130&amp;la=en" style="height: 89px; width: 130px; float: left; margin-right: 10px; border-width: 0px; border-style: solid;">
    <p>AVEVA Engage™ revolutionises collaborative decision-making across capital projects and operating assets. Combining instant access to a Digital Asset’s rich information with a simple touch-driven interface and Ultra-High Definition (UHD) rendering, AVEVA Engage brings better, faster decisions throughout the asset life cycle. </p>
    <p><strong>Learn more about this innovative product:</strong></p>
    <div style="clear: both;">
        <table style="width: 100%;" cellspacing="0" cellpadding="0" align="left">
            <tbody>
                <tr>
                    <td style="text-align: left; width: 35%; white-space: nowrap; vertical-align: middle;"><a href="/en/Products_and_Services/Product_Finder/AVEVA_Engage.aspx" class="more fancy" onclick="javascript: return false;">More Information</a></td>
                    <td style="text-align: left; width: 25%; white-space: nowrap; vertical-align: middle;"><a href="/en/News-Events/Press-Releases/Press-Releases-2015/Corporate/New-AVEVA-Engage-redefines-engineering-decision-support.aspx" class="more">Press Release</a></td>
                    <td style="text-align: left; width: 20%; white-space: nowrap; vertical-align: middle;"><a class="more" title="Opens Future of Decision Support website in a new window" href="http://www.aveva.com/futureofdecisionsupport" target="_blank">Website</a></td>
                    <td style="text-align: left; width: 20%; white-space: nowrap; vertical-align: middle;"><a href="https://www.youtube.com/watch?v=1J2j0EBDWH0" title="Watch the Video" class="more fancy-video-640x385" target="_blank" onclick="javascript: return false;">Future of Decision Support video </a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div><div class="box">
    <h2 class="blue">Read AVEVA World Magazine</h2><p style="text-align: left;"><img style="float: left; border: 0px solid;" alt="AVEVA World Magazine" src="/~/media/Aveva/English/Images/Pipeline_articles/AWM-title-banner-2014.png?la=en">The latest developments and customer successes with AVEVA technology</p>
    <iframe class="mixedContent" frameborder="0" border="0" width="450" height="345" style="overflow: hidden; border: 0px; width: 450px; height: 345px; background: transparent;" background="transparent" allowtransparency="true" src="http://aveva.uberflip.com/read/embed_mini/49796/644268?miniPop=true&amp;alwaysCover=false&amp;miniTitle=&amp;miniColor=&amp;miniLinkToTitle=false&amp;miniUrl=&amp;miniBg=FFFFFF&amp;hideBg=true&amp;width=450&amp;height=345&amp;sharing=false"></iframe>
    <table style="width: 100%; border-bottom-width: 0px;">
        <tbody>
            <tr>
                <td style="text-align: left; width: 50%; vertical-align: top;">
                    <h2>Cover story</h2>
                    <p>
                        <a href="http://aveva.uberflip.com/i/644268/3" target="_blank" title="Opens e-book in a new window" class="more fancy-document-948x750" onclick="javascript: return false;">
                            Hyundai<br>
                            Building the biggest
                        </a>
                    </p>
                </td>
                <td style="text-align: left; vertical-align: top;">
                    <h2>Download the Magazine</h2>
                    <p><a href="/~/media/Aveva/English/Resources/Pipelines/AVEVA-World-Magazine-2016(1).pdf?la=en" target="_blank" title="Opens a new window" class="download">Download</a></p>
                    <p><a href="/en/Media-Centre/AWM.aspx" class="more">View all issues</a></p>
                </td>
            </tr>
        </tbody>
    </table>
</div><div class="box box-last">
    <h2 class="blue">AVEVA Wins Leadership Award</h2><p><a href="/en/Promotions/corporate/AVEVA-Award-Frost-Sullivan.aspx"><img style="width: 200px; float: left; height: 150px; border: 0px solid; margin-right: 10px; margin-bottom: 10px;" alt="AVEVA World" src="/~/media/Aveva/English/Images/Page Content/Promotions/award-foster-sullivan/frost_and_sullivan_award_spotlight.gif?h=150&amp;w=200&amp;la=en"></a></p>
    <p>
        AVEVA is the proud winner of the Frost &amp; Sullivan 2015 Global Engineering Information Management Solutions Competitive Strategy Innovation and Leadership Award.<br><br>
        <a href="/en/Promotions/corporate/AVEVA-Award-Frost-Sullivan.aspx" class="more">Find out more</a>
    </p>
</div>
