<div class="box"><h2 class="blue">Worldwide Offices</h2><p><a href="/en/Contact/Worldwide_Offices.aspx"><img alt="AVEVA Worldwide Offices" src="/~/media/Aveva/English/Images/Thumbnails/General/world_map1.gif?la=en" style="border:0;width:207; height:101"></a></p><a class="more" href="/en/Contact/Worldwide_Offices.aspx">AVEVA Worldwide Offices</a></div><div class="box"><h2 class="blue">AVEVA Careers</h2><p><a href="en/About_AVEVA/Careers/Vacancies.aspx"><img alt="Current Job Vacancies at AVEVA" src="~/media/Aveva/English/Images/Thumbnails/General/careers_bw2.ashx" style="border:0;width:200; height:132"></a></p><a class="more" href="/en/About_AVEVA/Careers/Vacancies.aspx">Current Job Vacancies at AVEVA</a></div><div class="box">
    <h2 class="blue">Quick Product Details</h2><p style="margin-top:10px">
        <a href="/Products_and_Services/Product_Finder.aspx"><img style="width: 80px; height: 80px;  margin-right: 20px;border: 0px solid; float:left" alt="AVEVA Product Finder" src="/~/media/Aveva/English/Images/Page Content/Home Page/banner_product_finder.png?la=en"></a>
        Looking for information about AVEVA's market-leading products?
    </p>
    <div style="clear: both;">
        <br>
    </div><a class="more" href="/en/Products_and_Services/Product_Finder.aspx">AVEVA Product Finder</a>
</div><div class="box">
    <h2 class="blue">Follow AVEVA!</h2><div class="block_container" style="margin: 0px 0px 20px; width: 180px;">
        <div class="row2_container">
            <div class="row2_box1" style="padding-bottom: 0px; padding-left: 0px; width: 63px; padding-right: 0px; padding-top: 0px;"><a href="https://twitter.com/AVEVAGroup" target="_blank"><img style="width: 50px; height: 50px;border: 0px solid;" alt="Follow AVEVA on Twitter" src="/~/media/Aveva/English/Images/Icons/Twitter_128x128.png?h=60&amp;w=60&amp;as=1&amp;la=en"></a></div>
            <div class="row2_box1" style="padding-bottom: 0px; padding-left: 0px; width: 63px; padding-right: 0px; padding-top: 0px;"><a href="http://www.youtube.com/avevagroup" target="_blank"><img style="width: 50px; height: 50px;border: 0px solid;" alt="Follow AVEVA on YouTube" src="/~/media/Aveva/English/Images/Icons/Youtube_128x128.png?h=60&amp;w=60&amp;as=1&amp;la=en"></a></div>
            <div class="row2_box1" style="padding-bottom: 0px; padding-left: 0px; width: 63px; padding-right: 0px; padding-top: 0px;"><a href="http://www.linkedin.com/company/aveva" target="_blank"><img style="width: 50px; height: 50px;border: 0px solid;" alt="Follow AVEVA on LinkedIn" src="/~/media/Aveva/English/Images/Icons/linkedin_60x60.png?la=en"></a></div>
        </div>
        <div style="clear: left;"></div>
    </div><a class="more" href="/en/Media-Centre/Videos.aspx">Featured AVEVA Videos</a>
</div><div class="box box-last">
    <h2 class="blue">AVEVA Tweets</h2>
    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-timeline twitter-timeline-rendered" style="position: static; visibility: visible; display: inline-block; width: 520px; height: 250px; padding: 0px; border: none; max-width: 100%; min-width: 180px; margin-top: 0px; margin-bottom: 0px; min-height: 200px;" data-widget-id="349157331080212480" title="Twitter Timeline"></iframe>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
