<div class="slides_container" style="overflow: hidden; position: relative; display: block;">
    <div class="slides_control" style="position: relative; width: 2940px; height: 268px; left: -980px;">
        <div style="position: absolute; top: 0px; left: 980px; z-index: 0; display: none;">
            <img width="978" height="268" alt="AVEVA in the Process Plant Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Refining1.jpg?la=en">
        </div><div style="position: absolute; top: 0px; left: 980px; z-index: 0; display: none;">
            <img alt="AVEVA in the Mining &amp; Minerals Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Mining1.jpg?la=en">
        </div><div style="position: absolute; top: 0px; left: 980px; z-index: 0;">
            <img width="978" height="268" alt="AVEVA in the Oil &amp; Gas Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Petrobras_refinery.jpg?la=en">
        </div><div style="display: none; position: absolute; top: 0px; left: 980px; z-index: 0;">
            <p><img alt="AVEVA in the Power Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Paks2Turbine Room.jpg?la=en"></p>
        </div><div style="display: none; position: absolute; top: 0px; left: 980px; z-index: 0;">
            <img alt="AVEVA in the Oil &amp; Gas Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Plant1.jpg?la=en">
        </div><div style="display: none; position: absolute; top: 0px; left: 980px; z-index: 0;">
            <p><img alt="AVEVA in the Pulp &amp; Paper Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Paper1.jpg?la=en"></p>
        </div><div style="display: none; position: absolute; top: 0px; left: 980px; z-index: 0;">
            <img alt="AVEVA in the Shipbuilding Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Zeevaart-TSHD-GATEWAY-978px.JPG?la=en">
        </div><div style="display: none; position: absolute; top: 0px; left: 980px; z-index: 0;">
            <img width="978" height="268" alt="AVEVA in the Marine Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Waller-Marine-Barges-978px.jpg?la=en">
        </div><div style="display: none; position: absolute; top: 0px; left: 980px; z-index: 0;">
            <img width="978" height="268" alt="AVEVA in the Shipbuilding Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Naval_rauma.jpg?la=en">
        </div><div style="display: none; position: absolute; top: 0px; left: 980px; z-index: 0;">
            <img width="978" height="268" alt="AVEVA in the Chemical Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Plant2.jpg?la=en">
        </div>
    </div>

</div><a href="#" class="prev" style="display: none;">Prev</a><a href="#" class="next" style="display: none;">Next</a>
<div class="sliderOverlay">
    <h3>
        AVEVA in your industry
    </h3>
    <ul>
        <li>
            <a title="AVEVA Solutions for the Oil &amp; Gas Industry" href="http://www.aveva.com/en/Industry_Sectors/Oil_and_Gas.aspx">
                Oil &amp; Gas
            </a>
        </li>
        <li>
            <a title="AVEVA Solutions for the Marine &amp; Offshore Industry" href="http://www.aveva.com/en/Industry_Sectors/Marine.aspx">
                Marine &amp; Offshore
            </a>
        </li>
        <li>
            <a title="AVEVA Solutions for the Power Industry" href="http://www.aveva.com/en/Industry_Sectors/Power.aspx">
                Power
            </a>
        </li>
        <li>
            <a title="AVEVA Solutions for the Chemicals Industry" href="http://www.aveva.com/en/Industry_Sectors/Chemical.aspx">
                Chemicals
            </a>
        </li>
        <li>
            <a title="AVEVA Solutions for the Mining &amp; Minerals Processing Industry" href="http://www.aveva.com/en/Industry_Sectors/Mining.aspx">
                Mining &amp; Minerals
            </a>
        </li>
        <li>
            <a title="AVEVA Solutions for the Pulp &amp; Paper Industry" href="http://www.aveva.com/en/Industry_Sectors/Pulp_and_Paper.aspx">
                Pulp &amp; Paper
            </a>
        </li>
    </ul>
    <script type="text/javascript">
				$(function () {
					$('.sliderOverlay li a').each(function () {
						if ($(this).attr('rel') === 'external' && !$(this).attr('target')) {
							$(this).attr('target', '_blank');
						}
					});
				});
    </script>
</div>
<div class="navigationOverlay">
</div>
<ul class="pagination"><li class=""><a href="#0">1</a></li><li class=""><a href="#1">2</a></li><li class="current"><a href="#2">3</a></li><li><a href="#3">4</a></li><li><a href="#4">5</a></li><li><a href="#5">6</a></li><li><a href="#6">7</a></li><li><a href="#7">8</a></li><li><a href="#8">9</a></li><li><a href="#9">10</a></li></ul>
