
    <div id="header-content-top"></div><div id="header-content-middle"><div id="header-content"><img src="/~/media/Aveva/English/Images/Header Images/Corporate/banner-aveva-digital-asset.jpg?h=200&amp;la=en&amp;w=978" alt="The Digital Asset" width="978" height="200" id="header-content-img"></div></div>

    <div id="content" class="clearfix">
        <div class="breadcrumb"><a href="/en.aspx">Home</a><img src="/images/arrow_breadcrumb.png" width="5" height="5" alt=""><a href="/en/Digital-Asset.aspx">Digital Asset</a><img src="/images/arrow_breadcrumb.png" width="5" height="5" alt=""><span>Solution Suites</span><div class="clear"></div></div>
        <div class="sep-content"></div>
        <div class="col-1">
            <ul class="left-navi"><li><a href="/en/Digital-Asset/The-Digital-Asset-Solutions.aspx" class="sel">Solution Suites</a></li><li><a href="/en/Digital-Asset/The-Digital-Asset-Strategies.aspx">Strategies</a></li><li><a href="/en/Digital-Asset/Context-Technology.aspx">Context Technology</a></li></ul><div class="box">
                <h2 class="blue">Quick Product Details</h2><p style="margin-top:10px">
                    <a href="/Products_and_Services/Product_Finder.aspx"><img style="width: 80px; height: 80px;  margin-right: 20px;border: 0px solid; float:left" alt="AVEVA Product Finder" src="/~/media/Aveva/English/Images/Page Content/Home Page/banner_product_finder.png?la=en"></a>
                    Looking for information about AVEVA's market-leading products?
                </p>
                <div style="clear: both;">
                    <br>
                </div><a class="more" href="/en/Products_and_Services/Product_Finder.aspx">AVEVA Product Finder</a>
            </div><div class="box">
                <h2 class="blue">Download the Paper!</h2><p><a href="/~/media/Aveva/English/Resources/White_Papers/Technology/AVEVA-Business-Paper-The-Digital-Asset-Approach.pdf?la=en" target="_blank" title="Download the Digital Asset Business Paper"><img height="276" alt="The Digital Asset Approach" width="200" src="/~/media/Aveva/English/Images/Thumbnails/White-Papers/Digital-Asset-Approach-Business-Paper-cover-200px.png?h=276&amp;w=200&amp;la=en" style="height: 276px; width: 200px;"></a></p>
                <p>
                    <a href="/~/media/Aveva/English/Resources/White_Papers/Technology/AVEVA-Business-Paper-The-Digital-Asset-Approach.pdf?la=en" target="_blank" class="more" title="Download the Digital Asset Business Paper">Download</a>
                </p>
            </div><div class="box"><h2 class="blue">Read the ARC view</h2><p><a href="/~/media/Aveva/English/Resources/White_Papers/Info Mgmt/ARC-view-AVEVA-Digital-Asset-2014.pdf?la=en" title="Downloads pdf document in a new window" target="_blank"><img style="width: 100px; float: left; height: 128px;border: 0px solid; margin-right: 5px;" alt="ARC view - AVEVA’s Approach for the Digital Asset" src="/~/media/Aveva/English/Images/Page Content/The_AVEVA_Solution/Digital-Asset/ARC-view-Digital-Asset-2014.png?la=en"></a><em>'Digital Asset information must be “living,” that is, it must be current, actionable, and address all the domains of the plant lifecycle.'</em></p><a class="more" title="Downloads pdf document in a new window" href="/~/media/Aveva/English/Resources/White_Papers/Info Mgmt/ARC-view-AVEVA-Digital-Asset-2014.pdf" target="_blank">Download</a></div><div class="box box-last"><h2 class="blue">Download the brochure</h2><p><a href="/~/media/Aveva/English/Resources/Brochures-business/AVEVA-Digital-Asset-brochure.pdf?la=en" title="Downloads pdf document in a new window" target="_blank"><em><img style="width: 100px; float: left; height: 140px;border: 0px solid; margin-right: 5px;" alt="AVEVA Digital Asset brochure" src="/~/media/Aveva/English/Images/Page Content/The_AVEVA_Solution/Digital-Asset/AVEVA-Digital-Asset-brochure.png?la=en"></em></a>'<em>Accuracy and reliability of information are critical for all applications and for decision making.</em></p><a class="more" title="Downloads pdf document in a new window" href="/~/media/Aveva/English/Resources/Brochures-business/AVEVA-Digital-Asset-brochure.pdf" target="_blank">Download</a></div>
        </div>
        <div class="col-2">
            <div class="lists-interfier-wrap">
                <h1>The Digital Asset - Solution Suites</h1><p>Based on the Digital Asset approach, AVEVA’s software solutions blend tight application integration with a flexible, open framework to accommodate information from all sources, both AVEVA’s and third-party. They support every stage of the asset life cycle.</p>
                <p>For even greater power, a number of solutions are integrated into solution suites for different stages of the asset life cycle. They all support the creation and use of a Digital Asset for increased project predictability or operational reliability.</p>
                <hr>
                <h2>INTEGRATED ENGINEERING &amp; DESIGN<img style="width: 200px; float: right; height: 170px; border: 0px solid;" alt="Digital Asset - Integrated Engineering &amp; Design solution" src="/~/media/Aveva/English/Images/Page Content/The_AVEVA_Solution/Digital-Asset/DA-IED.png?la=en"></h2>
                <p><strong>Digital Asset - Integrated Engineering &amp; Design solution</strong></p>
                <p>The Integrated Engineering &amp; Design (IE&amp;D) solution suite tightly integrates engineering, design and data capture applications for EPCs, Owner Operators and shipbuilders. It dramatically improves design and engineering process efficiency for major capital projects, as well as for asset modification and revamps.</p>
                <p>AVEVA’s unique 'Compare&nbsp;&amp; Update' and 'Change Highlighting' functionalities enable the various project disciplines to easily and dynamically share design and engineering information at every phase in the process, helping to control the iterative design spiral in order to meet project schedules and improve the quality of deliverables.</p>
                <p>A typical IE&amp;D solution configuration might consist of the following integrated applications:</p>
                <table style="width: 100%; margin-bottom: 0px;">
                    <tbody>
                        <tr>
                            <td style="text-align: left; width: 50%; vertical-align: top;">
                                <p><a href="/en/Products_and_Services/Product_Finder/AVEVA_E3D.aspx" class="more fancy" onclick="javascript: return false;">AVEVA Everything3D</a>™ </p>
                                <p><a href="/en/Products_and_Services/Product_Finder/AVEVA_Diagrams.aspx" class="more fancy" onclick="javascript: return false;">AVEVA Diagrams</a>™</p>
                                <p><a href="/en/Products_and_Services/Product_Finder/AVEVA_Engineering.aspx" class="more fancy" onclick="javascript: return false;">AVEVA Engineering</a>™</p>
                            </td>
                            <td style="text-align: left; width: 50%; vertical-align: top;">
                                <p><a href="/en/Products_and_Services/Product_Finder/AVEVA_Bocad_Steel.aspx" class="more fancy" onclick="javascript: return false;">AVEVA Bocad Steel</a>™</p>
                                <p><a href="/en/Products_and_Services/Product_Finder/AVEVA_Electrical.aspx" class="more fancy" onclick="javascript: return false;">AVEVA Electrical</a>™</p>
                                <p><a href="/en/Products_and_Services/Product_Finder/AVEVA_Instrumentation.aspx" class="more fancy" onclick="javascript: return false;">AVEVA Instrumentation</a>™</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>For shipbuilders an IE&amp;D solution can be configured with dedicated applications for their specialist needs. Any initial IE&amp;D deployment can be readily extended with additional self-integrating applications.</p>
                <hr>
                <h2>ENTERPRISE RESOURCE MANAGEMENT<img style="width: 200px; float: right; height: 176px; border: 0px solid;" alt="Digital Asset - Enterprise Resource Management solution" src="/~/media/Aveva/English/Images/Page Content/The_AVEVA_Solution/Digital-Asset/DA-ERM.png?la=en"></h2>
                <p><strong>Digital Asset - Enterprise Resource Management solution</strong></p>
                <p>The Enterprise Resource Management (ERM) solution suite offers a complete resource management solution for EPCs and shipbuilders. Based on flexible, industry-proven technology, AVEVA ERM™ uses its advanced graphical user interface to deliver a highly productive and easy to use solution.</p>
                <p>Its stand-alone products enable progressive deployment, with measurable ROI at every step and maximum business benefit when fully integrated. As a complete solution, it enables efficient planning and execution through every stage of a marine or plant project and optimum management of multiple projects to create significant competitive advantage.</p>
                <p>A typical ERM configuration might consist of the following integrated solutions:</p>
                <table style="width: 100%; margin-bottom: 0px;">
                    <tbody>
                        <tr>
                            <td style="text-align: left; width: 40%; vertical-align: top;">
                                <ul>
                                    <li>Material Management </li>
                                    <li>Planning </li>
                                </ul>
                            </td>
                            <td style="text-align: left; width: 60%; vertical-align: top;">
                                <ul>
                                    <li>Catalogue and Specification Management </li>
                                    <li>Construction Management </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><a href="/en/Products_and_Services/Product_Finder/AVEVA_ERM.aspx" class="more fancy" onclick="javascript: return false;">AVEVA ERM</a></p>
                <hr>
                <h2>DIGITAL INFORMATION HUB™ SOLUTIONS</h2>
                <p>AVEVA offers a range of information management solutions to meet the needs of different users at different points in the asset life cycle. These solutions are based on the unique AVEVA NET™ technology, creating an open environment that provides access to information regardless of the application source. Each solution delivers the appropriate level of information access, validation and control to support critical project and operational activities. The result is a single, trusted source of information that reduces risk through rapid and better-informed decision making.</p>
                <p>AVEVA offers six Digital Information Hub solutions:<img style="width: 260px; float: right; height: 193px; border: 0px solid;" alt="Digital Asset - Digital Information Hub solutions" src="/~/media/Aveva/English/Images/Page Content/The_AVEVA_Solution/Digital-Asset/DA-DIH.png?la=en"></p>
                <ul>
                    <li>Project Decision Support </li>
                    <li>Construction Management </li>
                    <li>Progressive Handover </li>
                    <li>Asset Life Cycle Information Management </li>
                    <li>Control of Work </li>
                    <li>Asset Visualisation </li>
                </ul>
                <p><a href="/en/Products_and_Services/Enterprise_Solutions/AVEVA_Enterprise.aspx" class="more">AVEVA's enterprise products</a></p>
            </div><div class="lists-interfier-wrap"></div>
        </div>
        <div class="col-3">
            <div class="box"><h2 class="blue">Integrated Engineering<br>&amp; Design</h2><p><iframe height="150" src="http://www.youtube.com/embed/n5s3SOlaRgA?rel=0&amp;wmode=opaque" frameborder="0" width="200"></iframe></p><a class="more" href="http://www.aveva.com/IEandD">Learn more about IE&amp;D</a></div><div class="box">
                <h2 class="blue">AVEVA ERM</h2><p>AVEVA Enterprise Resource Management</p>
                <p>
                    <iframe width="200" height="150" src="http://www.youtube.com/embed/MWYzIfUzoXg?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
                </p>
            </div><div class="box box-last">
                <h2 class="blue">Digital Information Hub</h2> <p>A digital asset for every physical asset</p>
                <p>
                    <iframe width="200" height="150" src="http://www.youtube.com/embed/saOnKsv2IRY?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
                </p><a class="more" href="/en/Media-Centre/Videos.aspx">Featured AVEVA Videos</a>
            </div>
        </div>
        <div class="sep-content"></div>
    </div>

